// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2024.2.0.3.0
// Netlist written on Mon Dec  1 13:25:26 2025
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/ekendrick/documents/github/e155-project/e155_project_fpga/source/impl_1/counter.sv"
// file 1 "c:/users/ekendrick/documents/github/e155-project/e155_project_fpga/source/impl_1/led_driver.sv"
// file 2 "c:/users/ekendrick/documents/github/e155-project/e155_project_fpga/source/impl_1/led_string.sv"
// file 3 "c:/users/ekendrick/documents/github/e155-project/e155_project_fpga/source/impl_1/top.sv"
// file 4 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ice40up.v"
// file 5 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ice40up.vhd"
// file 6 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 7 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 8 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 9 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 10 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 11 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 12 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 13 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ib.v"
// file 14 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 15 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 16 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 17 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ob.v"
// file 18 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 19 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 20 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 21 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/rgb.v"
// file 22 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 23 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 24 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/legacy.v"
// file 25 "c:/lscc/radiant/2024.2/ip/common/adder/rtl/lscc_adder.v"
// file 26 "c:/lscc/radiant/2024.2/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 27 "c:/lscc/radiant/2024.2/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 28 "c:/lscc/radiant/2024.2/ip/common/counter/rtl/lscc_cntr.v"
// file 29 "c:/lscc/radiant/2024.2/ip/common/fifo/rtl/lscc_fifo.v"
// file 30 "c:/lscc/radiant/2024.2/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 31 "c:/lscc/radiant/2024.2/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 32 "c:/lscc/radiant/2024.2/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 33 "c:/lscc/radiant/2024.2/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 34 "c:/lscc/radiant/2024.2/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 35 "c:/lscc/radiant/2024.2/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 36 "c:/lscc/radiant/2024.2/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 37 "c:/lscc/radiant/2024.2/ip/common/rom/rtl/lscc_rom.v"
// file 38 "c:/lscc/radiant/2024.2/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 39 "c:/lscc/radiant/2024.2/ip/pmi/pmi_add.v"
// file 40 "c:/lscc/radiant/2024.2/ip/pmi/pmi_addsub.v"
// file 41 "c:/lscc/radiant/2024.2/ip/pmi/pmi_complex_mult.v"
// file 42 "c:/lscc/radiant/2024.2/ip/pmi/pmi_counter.v"
// file 43 "c:/lscc/radiant/2024.2/ip/pmi/pmi_dsp.v"
// file 44 "c:/lscc/radiant/2024.2/ip/pmi/pmi_fifo.v"
// file 45 "c:/lscc/radiant/2024.2/ip/pmi/pmi_fifo_dc.v"
// file 46 "c:/lscc/radiant/2024.2/ip/pmi/pmi_mac.v"
// file 47 "c:/lscc/radiant/2024.2/ip/pmi/pmi_mult.v"
// file 48 "c:/lscc/radiant/2024.2/ip/pmi/pmi_multaddsub.v"
// file 49 "c:/lscc/radiant/2024.2/ip/pmi/pmi_multaddsubsum.v"
// file 50 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dp.v"
// file 51 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dp_be.v"
// file 52 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dq.v"
// file 53 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dq_be.v"
// file 54 "c:/lscc/radiant/2024.2/ip/pmi/pmi_rom.v"
// file 55 "c:/lscc/radiant/2024.2/ip/pmi/pmi_sub.v"

//
// Verilog Description of module top
//

module top (output to_light);
    
    wire GND_net;
    wire VCC_net;
    wire to_light_c;
    (* is_clock=1, lineinfo="@3(3[8],3[11])" *) wire clk;
    wire [4:0]state_adj_208;
    
    wire n578;
    
    VHI i2 (.Z(VCC_net));
    (* syn_instantiated=1 *) HSOSC hf_osc (.CLKHFPU(VCC_net), .CLKHFEN(VCC_net), 
            .CLKHF(clk));
    defparam hf_osc.CLKHF_DIV = "0b01";
    (* lineinfo="@3(1[26],1[34])" *) OB to_light_pad (.I(to_light_c), .O(to_light));
    VLO i1 (.Z(GND_net));
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=13, LSE_RCOL=70, LSE_LLINE=22, LSE_RLINE=22, lineinfo="@3(22[13],22[70])" *) led_string led_string1 (clk, 
            to_light_c, state_adj_208[0], state_adj_208[2], state_adj_208[1], 
            state_adj_208[3], n578);
    (* lut_function="(!(A ((C+!(D))+!B)+!A ((C+(D))+!B)))" *) LUT4 i1_3_lut_4_lut (.A(state_adj_208[1]), 
            .B(state_adj_208[0]), .C(state_adj_208[3]), .D(state_adj_208[2]), 
            .Z(n578));
    defparam i1_3_lut_4_lut.INIT = "0x0804";
    
endmodule

//
// Verilog Description of module led_string
//

module led_string (input clk, output to_light_c, output \state[0] , output \state[2] , 
            output \state[1] , output \state[3] , input n578);
    
    wire [3:0]state;
    wire inc_num;
    wire [9:0]led_num;
    wire done;
    (* is_clock=1, lineinfo="@3(3[8],3[11])" *) wire clk;
    (* is_clock=1, lineinfo="@3(3[8],3[11])" *) wire clk_derived_43;
    wire [3:0]nextstate;
    
    wire n1326, n5, n242, n2160, GND_net, n1034;
    wire [9:0]led_num_9__N_1;
    wire [2:0]nextstate_2__N_21;
    
    wire n1042, n2190, n1040, n2187, n1038, n2184, n1036, n2181, 
        n2178, n10, n14, n1334, n1336, n1638, VCC_net;
    
    (* lut_function="(A+((C)+!B))", lineinfo="@2(40[3],50[10])" *) LUT4 i2_3_lut (.A(state[2]), 
            .B(state[1]), .C(state[0]), .Z(n1326));
    defparam i2_3_lut.INIT = "0xfbfb";
    (* lut_function="(A+(B))", lineinfo="@2(45[4],45[8])" *) LUT4 equal_18_i5_2_lut (.A(state[0]), 
            .B(state[1]), .Z(n5));
    defparam equal_18_i5_2_lut.INIT = "0xeeee";
    (* lut_function="(!(A (B+(C))+!A (B+!(C))))" *) LUT4 i2_3_lut_adj_6 (.A(state[0]), 
            .B(state[2]), .C(state[1]), .Z(n242));
    defparam i2_3_lut_adj_6.INIT = "0x1212";
    (* lineinfo="@2(35[28],35[43])" *) FA2 led_num_133_add_4_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(inc_num), 
            .C1(led_num[0]), .D1(n2160), .CI1(n2160), .CO0(n2160), .CO1(n1034), 
            .S1(led_num_9__N_1[0]));
    defparam led_num_133_add_4_1.INIT0 = "0xc33c";
    defparam led_num_133_add_4_1.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@2(35[28],35[43])" *) FD1P3XZ led_num_133__i0 (.D(led_num_9__N_1[0]), 
            .SP(VCC_net), .CK(clk_derived_43), .SR(GND_net), .Q(led_num[0]));
    defparam led_num_133__i0.REGSET = "RESET";
    defparam led_num_133__i0.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=13, LSE_RCOL=70, LSE_LLINE=22, LSE_RLINE=22, lineinfo="@2(21[12],28[5])" *) FD1P3XZ state_i2 (.D(nextstate[1]), 
            .SP(VCC_net), .CK(clk), .SR(GND_net), .Q(state[1]));
    defparam state_i2.REGSET = "RESET";
    defparam state_i2.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(35[28],35[43])" *) FD1P3XZ led_num_133__i1 (.D(led_num_9__N_1[1]), 
            .SP(VCC_net), .CK(clk_derived_43), .SR(GND_net), .Q(led_num[1]));
    defparam led_num_133__i1.REGSET = "RESET";
    defparam led_num_133__i1.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A (B+!(C))+!A (B+(C))))", lineinfo="@2(40[3],50[10])" *) LUT4 i677_3_lut (.A(state[0]), 
            .B(state[2]), .C(state[1]), .Z(nextstate_2__N_21[0]));
    defparam i677_3_lut.INIT = "0x2121";
    (* syn_use_carry_chain=1, lineinfo="@2(35[28],35[43])" *) FD1P3XZ led_num_133__i2 (.D(led_num_9__N_1[2]), 
            .SP(VCC_net), .CK(clk_derived_43), .SR(GND_net), .Q(led_num[2]));
    defparam led_num_133__i2.REGSET = "RESET";
    defparam led_num_133__i2.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(35[28],35[43])" *) FD1P3XZ led_num_133__i3 (.D(led_num_9__N_1[3]), 
            .SP(VCC_net), .CK(clk_derived_43), .SR(GND_net), .Q(led_num[3]));
    defparam led_num_133__i3.REGSET = "RESET";
    defparam led_num_133__i3.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(35[28],35[43])" *) FD1P3XZ led_num_133__i4 (.D(led_num_9__N_1[4]), 
            .SP(VCC_net), .CK(clk_derived_43), .SR(GND_net), .Q(led_num[4]));
    defparam led_num_133__i4.REGSET = "RESET";
    defparam led_num_133__i4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(35[28],35[43])" *) FD1P3XZ led_num_133__i5 (.D(led_num_9__N_1[5]), 
            .SP(VCC_net), .CK(clk_derived_43), .SR(GND_net), .Q(led_num[5]));
    defparam led_num_133__i5.REGSET = "RESET";
    defparam led_num_133__i5.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(35[28],35[43])" *) FD1P3XZ led_num_133__i6 (.D(led_num_9__N_1[6]), 
            .SP(VCC_net), .CK(clk_derived_43), .SR(GND_net), .Q(led_num[6]));
    defparam led_num_133__i6.REGSET = "RESET";
    defparam led_num_133__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(35[28],35[43])" *) FD1P3XZ led_num_133__i7 (.D(led_num_9__N_1[7]), 
            .SP(VCC_net), .CK(clk_derived_43), .SR(GND_net), .Q(led_num[7]));
    defparam led_num_133__i7.REGSET = "RESET";
    defparam led_num_133__i7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(35[28],35[43])" *) FD1P3XZ led_num_133__i8 (.D(led_num_9__N_1[8]), 
            .SP(VCC_net), .CK(clk_derived_43), .SR(GND_net), .Q(led_num[8]));
    defparam led_num_133__i8.REGSET = "RESET";
    defparam led_num_133__i8.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@2(35[28],35[43])" *) FD1P3XZ led_num_133__i9 (.D(led_num_9__N_1[9]), 
            .SP(VCC_net), .CK(clk_derived_43), .SR(GND_net), .Q(led_num[9]));
    defparam led_num_133__i9.REGSET = "RESET";
    defparam led_num_133__i9.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=13, LSE_RCOL=70, LSE_LLINE=22, LSE_RLINE=22, lineinfo="@2(21[12],28[5])" *) FD1P3XZ state_i1 (.D(nextstate_2__N_21[0]), 
            .SP(VCC_net), .CK(clk), .SR(inc_num), .Q(state[0]));
    defparam state_i1.REGSET = "SET";
    defparam state_i1.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@2(35[28],35[43])" *) FA2 led_num_133_add_4_11 (.A0(GND_net), 
            .B0(GND_net), .C0(led_num[9]), .D0(n1042), .CI0(n1042), 
            .A1(GND_net), .B1(GND_net), .C1(GND_net), .D1(n2190), .CI1(n2190), 
            .CO0(n2190), .S0(led_num_9__N_1[9]));
    defparam led_num_133_add_4_11.INIT0 = "0xc33c";
    defparam led_num_133_add_4_11.INIT1 = "0xc33c";
    (* lineinfo="@2(35[28],35[43])" *) FA2 led_num_133_add_4_9 (.A0(GND_net), 
            .B0(GND_net), .C0(led_num[7]), .D0(n1040), .CI0(n1040), 
            .A1(GND_net), .B1(GND_net), .C1(led_num[8]), .D1(n2187), 
            .CI1(n2187), .CO0(n2187), .CO1(n1042), .S0(led_num_9__N_1[7]), 
            .S1(led_num_9__N_1[8]));
    defparam led_num_133_add_4_9.INIT0 = "0xc33c";
    defparam led_num_133_add_4_9.INIT1 = "0xc33c";
    (* lineinfo="@2(35[28],35[43])" *) FA2 led_num_133_add_4_7 (.A0(GND_net), 
            .B0(GND_net), .C0(led_num[5]), .D0(n1038), .CI0(n1038), 
            .A1(GND_net), .B1(GND_net), .C1(led_num[6]), .D1(n2184), 
            .CI1(n2184), .CO0(n2184), .CO1(n1040), .S0(led_num_9__N_1[5]), 
            .S1(led_num_9__N_1[6]));
    defparam led_num_133_add_4_7.INIT0 = "0xc33c";
    defparam led_num_133_add_4_7.INIT1 = "0xc33c";
    (* lineinfo="@2(35[28],35[43])" *) FA2 led_num_133_add_4_5 (.A0(GND_net), 
            .B0(GND_net), .C0(led_num[3]), .D0(n1036), .CI0(n1036), 
            .A1(GND_net), .B1(GND_net), .C1(led_num[4]), .D1(n2181), 
            .CI1(n2181), .CO0(n2181), .CO1(n1038), .S0(led_num_9__N_1[3]), 
            .S1(led_num_9__N_1[4]));
    defparam led_num_133_add_4_5.INIT0 = "0xc33c";
    defparam led_num_133_add_4_5.INIT1 = "0xc33c";
    VLO i1 (.Z(GND_net));
    (* lineinfo="@2(35[28],35[43])" *) FA2 led_num_133_add_4_3 (.A0(GND_net), 
            .B0(GND_net), .C0(led_num[1]), .D0(n1034), .CI0(n1034), 
            .A1(GND_net), .B1(GND_net), .C1(led_num[2]), .D1(n2178), 
            .CI1(n2178), .CO0(n2178), .CO1(n1036), .S0(led_num_9__N_1[1]), 
            .S1(led_num_9__N_1[2]));
    defparam led_num_133_add_4_3.INIT0 = "0xc33c";
    defparam led_num_133_add_4_3.INIT1 = "0xc33c";
    (* lut_function="(A+(B))" *) LUT4 i2_2_lut (.A(led_num[6]), .B(led_num[1]), 
            .Z(n10));
    defparam i2_2_lut.INIT = "0xeeee";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i6_4_lut (.A(led_num[9]), .B(led_num[0]), 
            .C(led_num[3]), .D(led_num[5]), .Z(n14));
    defparam i6_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i7_4_lut (.A(led_num[2]), .B(n14), 
            .C(n10), .D(led_num[8]), .Z(n1334));
    defparam i7_4_lut.INIT = "0xfffe";
    (* lut_function="(A+((C+!(D))+!B))" *) LUT4 i1_4_lut (.A(n1334), .B(led_num[4]), 
            .C(n5), .D(led_num[7]), .Z(n1336));
    defparam i1_4_lut.INIT = "0xfbff";
    (* lut_function="(!(A+!(B)))", lineinfo="@2(40[3],50[10])" *) LUT4 i1304_2_lut (.A(done), 
            .B(state[1]), .Z(n1638));
    defparam i1304_2_lut.INIT = "0x4444";
    (* lut_function="(!(A (B (C))+!A (B (C+!(D))+!B !(C+(D)))))", lineinfo="@2(40[3],50[10])" *) LUT4 i263_4_lut (.A(n1638), 
            .B(n1336), .C(state[2]), .D(state[0]), .Z(nextstate[1]));
    defparam i263_4_lut.INIT = "0x3f3a";
    (* lut_function="(!(A+(B+!(C))))", lineinfo="@2(45[4],45[8])" *) LUT4 i1388_2_lut_3_lut (.A(state[0]), 
            .B(state[1]), .C(state[2]), .Z(inc_num));
    defparam i1388_2_lut_3_lut.INIT = "0x1010";
    (* LSE_LINE_FILE_ID=75, LSE_LCOL=13, LSE_RCOL=60, LSE_LLINE=13, LSE_RLINE=13, lineinfo="@2(13[13],13[60])" *) led_driver single_led (to_light_c, 
            clk, n242, \state[0] , \state[2] , \state[1] , \state[3] , 
            n578, clk_derived_43, done);
    VHI i2 (.Z(VCC_net));
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=13, LSE_RCOL=70, LSE_LLINE=22, LSE_RLINE=22, lineinfo="@2(21[12],28[5])" *) FD1P3XZ state_i3 (.D(done), 
            .SP(VCC_net), .CK(clk), .SR(n1326), .Q(state[2]));
    defparam state_i3.REGSET = "RESET";
    defparam state_i3.SRMODE = "CE_OVER_LSR";
    
endmodule

//
// Verilog Description of module led_driver
//

module led_driver (output to_light_c, input clk, input n242, output \state[0] , 
            output \state[2] , output \state[1] , output \state[3] , input n578, 
            output clk_derived_43, output done);
    
    wire [23:0]num_high;
    (* is_clock=1, lineinfo="@3(3[8],3[11])" *) wire clk;
    wire counted_high;
    wire [5:0]rgb_count;
    (* is_clock=1, lineinfo="@3(3[8],3[11])" *) wire clk_derived_43;
    wire [23:0]num_low;
    wire [23:0]rgb_shift;
    wire [4:0]nextstate;
    wire counted_low;
    
    wire counter_reset_high_N_198, n841, n2;
    wire [4:0]n197;
    
    wire n1411;
    wire [5:0]n37;
    
    wire n494, n550, counter_reset_high_N_197, n564, VCC_net, n1401, 
        n561, n1395, n554, n2002, n1099, n2175, GND_net, n1097, 
        n2172, n1095, n2166, n2157, counter_reset_low_N_200, counter_reset_low_N_201, 
        n47, n71, n1211, n47_adj_203, n67, n1209, n4, n548, 
        n845, n11, n1, n1_adj_204, n3, n8;
    
    (* LSE_LINE_FILE_ID=75, LSE_LCOL=13, LSE_RCOL=60, LSE_LLINE=13, LSE_RLINE=13, lineinfo="@1(49[12],65[5])" *) FD1P3XZ rgb_count__i0 (.D(n37[0]), 
            .SP(n578), .CK(clk_derived_43), .SR(n494), .Q(rgb_count[0]));
    defparam rgb_count__i0.REGSET = "RESET";
    defparam rgb_count__i0.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B))" *) LUT4 i711_2_lut (.A(n242), .B(\state[0] ), 
            .Z(n841));
    defparam i711_2_lut.INIT = "0x8888";
    (* lut_function="(A+(B))", lineinfo="@1(68[3],91[10])" *) LUT4 i693_2_lut (.A(counted_high), 
            .B(\state[0] ), .Z(n2));
    defparam i693_2_lut.INIT = "0xeeee";
    (* lut_function="(!(A (B (C (D)+!C !(D))+!B !(C+(D)))+!A (B+!(C (D)))))", lineinfo="@1(68[3],91[10])" *) LUT4 mux_93_Mux_0_i7_4_lut (.A(n2), 
            .B(n841), .C(\state[2] ), .D(\state[1] ), .Z(n197[0]));
    defparam mux_93_Mux_0_i7_4_lut.INIT = "0x3aa0";
    (* lut_function="(!((B)+!A))" *) LUT4 i1_2_lut (.A(\state[0] ), .B(\state[3] ), 
            .Z(n1411));
    defparam i1_2_lut.INIT = "0x2222";
    (* LSE_LINE_FILE_ID=75, LSE_LCOL=13, LSE_RCOL=60, LSE_LLINE=13, LSE_RLINE=13, lineinfo="@1(27[12],34[5])" *) FD1P3XZ state_i1 (.D(n197[0]), 
            .SP(VCC_net), .CK(clk), .SR(\state[3] ), .Q(\state[0] ));
    defparam state_i1.REGSET = "RESET";
    defparam state_i1.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=75, LSE_LCOL=13, LSE_RCOL=60, LSE_LLINE=13, LSE_RLINE=13, lineinfo="@1(36[12],47[5])" *) FD1P3XZ num_high_i4 (.D(n550), 
            .SP(VCC_net), .CK(clk), .SR(GND_net), .Q(num_high[4]));
    defparam num_high_i4.REGSET = "RESET";
    defparam num_high_i4.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=75, LSE_LCOL=13, LSE_RCOL=60, LSE_LLINE=13, LSE_RLINE=13, lineinfo="@1(36[12],47[5])" *) FD1P3XZ num_low_i1 (.D(n564), 
            .SP(VCC_net), .CK(clk), .SR(GND_net), .Q(num_low[1]));
    defparam num_low_i1.REGSET = "RESET";
    defparam num_low_i1.SRMODE = "CE_OVER_LSR";
    (* lut_function="((B)+!A)" *) LUT4 i1391_2_lut (.A(counter_reset_high_N_197), 
            .B(counter_reset_high_N_198), .Z(to_light_c));
    defparam i1391_2_lut.INIT = "0xdddd";
    (* LSE_LINE_FILE_ID=75, LSE_LCOL=13, LSE_RCOL=60, LSE_LLINE=13, LSE_RLINE=13, lineinfo="@1(36[12],47[5])" *) FD1P3XZ num_low_i2 (.D(n1401), 
            .SP(VCC_net), .CK(clk), .SR(GND_net), .Q(num_low[2]));
    defparam num_low_i2.REGSET = "RESET";
    defparam num_low_i2.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=75, LSE_LCOL=13, LSE_RCOL=60, LSE_LLINE=13, LSE_RLINE=13, lineinfo="@1(36[12],47[5])" *) FD1P3XZ num_low_i3 (.D(n561), 
            .SP(VCC_net), .CK(clk), .SR(GND_net), .Q(num_low[3]));
    defparam num_low_i3.REGSET = "RESET";
    defparam num_low_i3.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=75, LSE_LCOL=13, LSE_RCOL=60, LSE_LLINE=13, LSE_RLINE=13, lineinfo="@1(36[12],47[5])" *) FD1P3XZ num_low_i4 (.D(n1395), 
            .SP(VCC_net), .CK(clk), .SR(GND_net), .Q(num_low[4]));
    defparam num_low_i4.REGSET = "RESET";
    defparam num_low_i4.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=75, LSE_LCOL=13, LSE_RCOL=60, LSE_LLINE=13, LSE_RLINE=13, lineinfo="@1(49[12],65[5])" *) FD1P3XZ rgb_shift_i23 (.D(rgb_shift[22]), 
            .SP(n578), .CK(clk_derived_43), .SR(n494), .Q(rgb_shift[23]));
    defparam rgb_shift_i23.REGSET = "RESET";
    defparam rgb_shift_i23.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=75, LSE_LCOL=13, LSE_RCOL=60, LSE_LLINE=13, LSE_RLINE=13, lineinfo="@1(36[12],47[5])" *) FD1P3XZ num_high_i1 (.D(n554), 
            .SP(VCC_net), .CK(clk), .SR(GND_net), .Q(num_high[1]));
    defparam num_high_i1.REGSET = "RESET";
    defparam num_high_i1.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=75, LSE_LCOL=13, LSE_RCOL=60, LSE_LLINE=13, LSE_RLINE=13, lineinfo="@1(27[12],34[5])" *) FD1P3XZ state_i4 (.D(n2002), 
            .SP(VCC_net), .CK(clk), .SR(GND_net), .Q(\state[3] ));
    defparam state_i4.REGSET = "RESET";
    defparam state_i4.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=75, LSE_LCOL=13, LSE_RCOL=60, LSE_LLINE=13, LSE_RLINE=13, lineinfo="@1(49[12],65[5])" *) FD1P3XZ rgb_shift_i22 (.D(rgb_shift[21]), 
            .SP(n578), .CK(clk_derived_43), .SR(n494), .Q(rgb_shift[22]));
    defparam rgb_shift_i22.REGSET = "RESET";
    defparam rgb_shift_i22.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@1(58[18],58[34])" *) FA2 add_24_add_5_7 (.A0(GND_net), .B0(rgb_count[5]), 
            .C0(GND_net), .D0(n1099), .CI0(n1099), .A1(GND_net), .B1(GND_net), 
            .C1(GND_net), .D1(n2175), .CI1(n2175), .CO0(n2175), .S0(n37[5]));
    defparam add_24_add_5_7.INIT0 = "0xc33c";
    defparam add_24_add_5_7.INIT1 = "0xc33c";
    (* LSE_LINE_FILE_ID=75, LSE_LCOL=13, LSE_RCOL=60, LSE_LLINE=13, LSE_RLINE=13, lineinfo="@1(49[12],65[5])" *) FD1P3XZ rgb_shift_i21 (.D(rgb_shift[20]), 
            .SP(n578), .CK(clk_derived_43), .SR(n494), .Q(rgb_shift[21]));
    defparam rgb_shift_i21.REGSET = "RESET";
    defparam rgb_shift_i21.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@1(58[18],58[34])" *) FA2 add_24_add_5_5 (.A0(GND_net), .B0(rgb_count[3]), 
            .C0(GND_net), .D0(n1097), .CI0(n1097), .A1(GND_net), .B1(rgb_count[4]), 
            .C1(GND_net), .D1(n2172), .CI1(n2172), .CO0(n2172), .CO1(n1099), 
            .S0(n37[3]), .S1(n37[4]));
    defparam add_24_add_5_5.INIT0 = "0xc33c";
    defparam add_24_add_5_5.INIT1 = "0xc33c";
    (* lineinfo="@1(58[18],58[34])" *) FA2 add_24_add_5_3 (.A0(GND_net), .B0(rgb_count[1]), 
            .C0(GND_net), .D0(n1095), .CI0(n1095), .A1(GND_net), .B1(rgb_count[2]), 
            .C1(GND_net), .D1(n2166), .CI1(n2166), .CO0(n2166), .CO1(n1097), 
            .S0(n37[1]), .S1(n37[2]));
    defparam add_24_add_5_3.INIT0 = "0xc33c";
    defparam add_24_add_5_3.INIT1 = "0xc33c";
    (* lineinfo="@1(58[18],58[34])" *) FA2 add_24_add_5_1 (.A0(GND_net), .B0(GND_net), 
            .C0(GND_net), .A1(GND_net), .B1(rgb_count[0]), .C1(VCC_net), 
            .D1(n2157), .CI1(n2157), .CO0(n2157), .CO1(n1095), .S1(n37[0]));
    defparam add_24_add_5_1.INIT0 = "0xc33c";
    defparam add_24_add_5_1.INIT1 = "0xc33c";
    (* LSE_LINE_FILE_ID=75, LSE_LCOL=13, LSE_RCOL=60, LSE_LLINE=13, LSE_RLINE=13, lineinfo="@1(49[12],65[5])" *) FD1P3XZ rgb_shift_i20 (.D(rgb_shift[19]), 
            .SP(n578), .CK(clk_derived_43), .SR(n494), .Q(rgb_shift[20]));
    defparam rgb_shift_i20.REGSET = "RESET";
    defparam rgb_shift_i20.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=75, LSE_LCOL=13, LSE_RCOL=60, LSE_LLINE=13, LSE_RLINE=13, lineinfo="@1(49[12],65[5])" *) FD1P3XZ rgb_shift_i19 (.D(rgb_shift[18]), 
            .SP(n578), .CK(clk_derived_43), .SR(n494), .Q(rgb_shift[19]));
    defparam rgb_shift_i19.REGSET = "RESET";
    defparam rgb_shift_i19.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=75, LSE_LCOL=13, LSE_RCOL=60, LSE_LLINE=13, LSE_RLINE=13, lineinfo="@1(49[12],65[5])" *) FD1P3XZ rgb_shift_i18 (.D(rgb_shift[17]), 
            .SP(n578), .CK(clk_derived_43), .SR(n494), .Q(rgb_shift[18]));
    defparam rgb_shift_i18.REGSET = "RESET";
    defparam rgb_shift_i18.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=75, LSE_LCOL=13, LSE_RCOL=60, LSE_LLINE=13, LSE_RLINE=13, lineinfo="@1(49[12],65[5])" *) FD1P3XZ rgb_shift_i17 (.D(rgb_shift[16]), 
            .SP(n578), .CK(clk_derived_43), .SR(n494), .Q(rgb_shift[17]));
    defparam rgb_shift_i17.REGSET = "RESET";
    defparam rgb_shift_i17.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=75, LSE_LCOL=13, LSE_RCOL=60, LSE_LLINE=13, LSE_RLINE=13, lineinfo="@1(49[12],65[5])" *) FD1P3XZ rgb_shift_i16 (.D(rgb_shift[15]), 
            .SP(n578), .CK(clk_derived_43), .SR(n494), .Q(rgb_shift[16]));
    defparam rgb_shift_i16.REGSET = "RESET";
    defparam rgb_shift_i16.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=75, LSE_LCOL=13, LSE_RCOL=60, LSE_LLINE=13, LSE_RLINE=13, lineinfo="@1(49[12],65[5])" *) FD1P3XZ rgb_shift_i13 (.D(rgb_shift[12]), 
            .SP(n578), .CK(clk_derived_43), .SR(n494), .Q(rgb_shift[13]));
    defparam rgb_shift_i13.REGSET = "RESET";
    defparam rgb_shift_i13.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=75, LSE_LCOL=13, LSE_RCOL=60, LSE_LLINE=13, LSE_RLINE=13, lineinfo="@1(49[12],65[5])" *) FD1P3XZ rgb_shift_i12 (.D(rgb_shift[11]), 
            .SP(n578), .CK(clk_derived_43), .SR(n494), .Q(rgb_shift[12]));
    defparam rgb_shift_i12.REGSET = "RESET";
    defparam rgb_shift_i12.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=75, LSE_LCOL=13, LSE_RCOL=60, LSE_LLINE=13, LSE_RLINE=13, lineinfo="@1(49[12],65[5])" *) FD1P3XZ rgb_shift_i8 (.D(rgb_shift[7]), 
            .SP(n578), .CK(clk_derived_43), .SR(n494), .Q(rgb_shift[8]));
    defparam rgb_shift_i8.REGSET = "RESET";
    defparam rgb_shift_i8.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=75, LSE_LCOL=13, LSE_RCOL=60, LSE_LLINE=13, LSE_RLINE=13, lineinfo="@1(49[12],65[5])" *) FD1P3XZ rgb_count__i1 (.D(n37[1]), 
            .SP(n578), .CK(clk_derived_43), .SR(n494), .Q(rgb_count[1]));
    defparam rgb_count__i1.REGSET = "RESET";
    defparam rgb_count__i1.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=75, LSE_LCOL=13, LSE_RCOL=60, LSE_LLINE=13, LSE_RLINE=13, lineinfo="@1(49[12],65[5])" *) FD1P3XZ rgb_shift_i1 (.D(rgb_shift[0]), 
            .SP(n578), .CK(clk_derived_43), .SR(n494), .Q(rgb_shift[1]));
    defparam rgb_shift_i1.REGSET = "SET";
    defparam rgb_shift_i1.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B+!(C))+!A !(C))", lineinfo="@1(97[23],97[55])" *) LUT4 i57_2_lut_3_lut (.A(counter_reset_low_N_200), 
            .B(counter_reset_low_N_201), .C(n47), .Z(n71));
    defparam i57_2_lut_3_lut.INIT = "0x8f8f";
    (* lut_function="(!(A (B+(C))+!A (C)))", lineinfo="@1(97[23],97[55])" *) LUT4 i1408_2_lut_3_lut (.A(counter_reset_low_N_200), 
            .B(counter_reset_low_N_201), .C(n47), .Z(n1211));
    defparam i1408_2_lut_3_lut.INIT = "0x0707";
    (* lut_function="(!(A (B (C))+!A (C)))", lineinfo="@1(98[24],98[56])" *) LUT4 i53_2_lut_3_lut (.A(counter_reset_high_N_197), 
            .B(counter_reset_high_N_198), .C(n47_adj_203), .Z(n67));
    defparam i53_2_lut_3_lut.INIT = "0x2f2f";
    (* LSE_LINE_FILE_ID=75, LSE_LCOL=13, LSE_RCOL=60, LSE_LLINE=13, LSE_RLINE=13, lineinfo="@1(49[12],65[5])" *) FD1P3XZ rgb_shift_i0 (.D(n548), 
            .SP(VCC_net), .CK(clk_derived_43), .SR(GND_net), .Q(rgb_shift[0]));
    defparam rgb_shift_i0.REGSET = "RESET";
    defparam rgb_shift_i0.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A ((C)+!B)+!A (C)))", lineinfo="@1(98[24],98[56])" *) LUT4 i1401_2_lut_3_lut (.A(counter_reset_high_N_197), 
            .B(counter_reset_high_N_198), .C(n47_adj_203), .Z(n1209));
    defparam i1401_2_lut_3_lut.INIT = "0x0d0d";
    (* lut_function="(A+(B+(C)))", lineinfo="@1(44[8],44[20])" *) LUT4 i1_2_lut_3_lut (.A(\state[0] ), 
            .B(\state[1] ), .C(\state[2] ), .Z(n4));
    defparam i1_2_lut_3_lut.INIT = "0xfefe";
    (* lut_function="(!(A+(B+(C+!(D)))))", lineinfo="@1(44[8],44[20])" *) LUT4 i1398_2_lut_3_lut_4_lut (.A(\state[0] ), 
            .B(\state[1] ), .C(\state[3] ), .D(\state[2] ), .Z(counter_reset_high_N_198));
    defparam i1398_2_lut_3_lut_4_lut.INIT = "0x0100";
    (* lut_function="((B+(C+!(D)))+!A)", lineinfo="@1(44[8],44[20])" *) LUT4 equal_14_i9_3_lut_4_lut (.A(\state[2] ), 
            .B(\state[3] ), .C(\state[1] ), .D(\state[0] ), .Z(counter_reset_low_N_201));
    defparam equal_14_i9_3_lut_4_lut.INIT = "0xfdff";
    (* lut_function="(!((B+!(C (D)))+!A))", lineinfo="@1(44[8],44[20])" *) LUT4 i1386_2_lut_3_lut_4_lut (.A(\state[2] ), 
            .B(\state[3] ), .C(\state[1] ), .D(\state[0] ), .Z(n494));
    defparam i1386_2_lut_3_lut_4_lut.INIT = "0x2000";
    (* lut_function="(!((B+((D)+!C))+!A))", lineinfo="@1(44[8],44[20])" *) LUT4 i1405_2_lut_3_lut_4_lut (.A(\state[2] ), 
            .B(\state[3] ), .C(\state[1] ), .D(\state[0] ), .Z(done));
    defparam i1405_2_lut_3_lut_4_lut.INIT = "0x0020";
    (* lut_function="(A+((C+(D))+!B))", lineinfo="@1(42[8],42[20])" *) LUT4 equal_8_i9_2_lut_3_lut_4_lut (.A(\state[0] ), 
            .B(\state[1] ), .C(\state[3] ), .D(\state[2] ), .Z(counter_reset_high_N_197));
    defparam equal_8_i9_2_lut_3_lut_4_lut.INIT = "0xfffb";
    (* LSE_LINE_FILE_ID=75, LSE_LCOL=13, LSE_RCOL=60, LSE_LLINE=13, LSE_RLINE=13, lineinfo="@1(49[12],65[5])" *) FD1P3XZ rgb_shift_i2 (.D(rgb_shift[1]), 
            .SP(n578), .CK(clk_derived_43), .SR(n494), .Q(rgb_shift[2]));
    defparam rgb_shift_i2.REGSET = "SET";
    defparam rgb_shift_i2.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A+(B+!(C (D))))", lineinfo="@1(42[8],42[20])" *) LUT4 equal_10_i9_2_lut_3_lut_4_lut (.A(\state[2] ), 
            .B(\state[3] ), .C(\state[1] ), .D(\state[0] ), .Z(counter_reset_low_N_200));
    defparam equal_10_i9_2_lut_3_lut_4_lut.INIT = "0xefff";
    (* LSE_LINE_FILE_ID=75, LSE_LCOL=13, LSE_RCOL=60, LSE_LLINE=13, LSE_RLINE=13, lineinfo="@1(49[12],65[5])" *) FD1P3XZ rgb_shift_i3 (.D(rgb_shift[2]), 
            .SP(n578), .CK(clk_derived_43), .SR(n494), .Q(rgb_shift[3]));
    defparam rgb_shift_i3.REGSET = "SET";
    defparam rgb_shift_i3.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=75, LSE_LCOL=13, LSE_RCOL=60, LSE_LLINE=13, LSE_RLINE=13, lineinfo="@1(49[12],65[5])" *) FD1P3XZ rgb_shift_i4 (.D(rgb_shift[3]), 
            .SP(n578), .CK(clk_derived_43), .SR(n494), .Q(rgb_shift[4]));
    defparam rgb_shift_i4.REGSET = "SET";
    defparam rgb_shift_i4.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=75, LSE_LCOL=13, LSE_RCOL=60, LSE_LLINE=13, LSE_RLINE=13, lineinfo="@1(49[12],65[5])" *) FD1P3XZ rgb_count__i2 (.D(n37[2]), 
            .SP(n578), .CK(clk_derived_43), .SR(n494), .Q(rgb_count[2]));
    defparam rgb_count__i2.REGSET = "RESET";
    defparam rgb_count__i2.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=75, LSE_LCOL=13, LSE_RCOL=60, LSE_LLINE=13, LSE_RLINE=13, lineinfo="@1(49[12],65[5])" *) FD1P3XZ rgb_count__i3 (.D(n37[3]), 
            .SP(n578), .CK(clk_derived_43), .SR(n494), .Q(rgb_count[3]));
    defparam rgb_count__i3.REGSET = "RESET";
    defparam rgb_count__i3.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=75, LSE_LCOL=13, LSE_RCOL=60, LSE_LLINE=13, LSE_RLINE=13, lineinfo="@1(49[12],65[5])" *) FD1P3XZ rgb_count__i4 (.D(n37[4]), 
            .SP(n578), .CK(clk_derived_43), .SR(n494), .Q(rgb_count[4]));
    defparam rgb_count__i4.REGSET = "RESET";
    defparam rgb_count__i4.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=75, LSE_LCOL=13, LSE_RCOL=60, LSE_LLINE=13, LSE_RLINE=13, lineinfo="@1(49[12],65[5])" *) FD1P3XZ rgb_count__i5 (.D(n37[5]), 
            .SP(n578), .CK(clk_derived_43), .SR(n494), .Q(rgb_count[5]));
    defparam rgb_count__i5.REGSET = "RESET";
    defparam rgb_count__i5.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=75, LSE_LCOL=13, LSE_RCOL=60, LSE_LLINE=13, LSE_RLINE=13, lineinfo="@1(27[12],34[5])" *) FD1P3XZ state_i2 (.D(nextstate[1]), 
            .SP(VCC_net), .CK(clk), .SR(GND_net), .Q(\state[1] ));
    defparam state_i2.REGSET = "RESET";
    defparam state_i2.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=75, LSE_LCOL=13, LSE_RCOL=60, LSE_LLINE=13, LSE_RLINE=13, lineinfo="@1(27[12],34[5])" *) FD1P3XZ state_i3 (.D(nextstate[2]), 
            .SP(VCC_net), .CK(clk), .SR(GND_net), .Q(\state[2] ));
    defparam state_i3.REGSET = "RESET";
    defparam state_i3.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=75, LSE_LCOL=13, LSE_RCOL=60, LSE_LLINE=13, LSE_RLINE=13, lineinfo="@1(49[12],65[5])" *) FD1P3XZ rgb_shift_i5 (.D(rgb_shift[4]), 
            .SP(n578), .CK(clk_derived_43), .SR(n494), .Q(rgb_shift[5]));
    defparam rgb_shift_i5.REGSET = "SET";
    defparam rgb_shift_i5.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=75, LSE_LCOL=13, LSE_RCOL=60, LSE_LLINE=13, LSE_RLINE=13, lineinfo="@1(49[12],65[5])" *) FD1P3XZ rgb_shift_i6 (.D(rgb_shift[5]), 
            .SP(n578), .CK(clk_derived_43), .SR(n494), .Q(rgb_shift[6]));
    defparam rgb_shift_i6.REGSET = "SET";
    defparam rgb_shift_i6.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B (C+!(D)))+!A (B (C (D))))" *) LUT4 i715_4_lut (.A(counted_low), 
            .B(\state[0] ), .C(n242), .D(\state[1] ), .Z(n845));
    defparam i715_4_lut.INIT = "0xc088";
    (* lut_function="(!(A (B+!(C))+!A (B (C+!(D))+!B !(C+(D)))))", lineinfo="@1(68[3],91[10])" *) LUT4 mux_93_Mux_2_i1_4_lut (.A(rgb_shift[23]), 
            .B(n11), .C(\state[0] ), .D(n242), .Z(n1));
    defparam mux_93_Mux_2_i1_4_lut.INIT = "0x3530";
    (* lut_function="(!(A (B (C+(D))+!B !(C+!(D)))+!A (B+!(C))))", lineinfo="@1(68[3],91[10])" *) LUT4 mux_93_Mux_2_i7_4_lut (.A(n1), 
            .B(n845), .C(\state[2] ), .D(\state[1] ), .Z(n197[2]));
    defparam mux_93_Mux_2_i7_4_lut.INIT = "0x303a";
    (* lut_function="(!(A (B (C)+!B (C (D)))+!A (B+((D)+!C))))", lineinfo="@1(68[3],91[10])" *) LUT4 i399_4_lut (.A(n197[2]), 
            .B(rgb_shift[23]), .C(\state[3] ), .D(n4), .Z(nextstate[2]));
    defparam i399_4_lut.INIT = "0x0a3a";
    (* lut_function="(!(A (B (C+!(D))+!B !(C+(D)))+!A (B+!(C))))", lineinfo="@1(68[3],91[10])" *) LUT4 mux_93_Mux_1_i1_4_lut (.A(rgb_shift[23]), 
            .B(n11), .C(\state[0] ), .D(n242), .Z(n1_adj_204));
    defparam mux_93_Mux_1_i1_4_lut.INIT = "0x3a30";
    (* LSE_LINE_FILE_ID=75, LSE_LCOL=13, LSE_RCOL=60, LSE_LLINE=13, LSE_RLINE=13, lineinfo="@1(49[12],65[5])" *) FD1P3XZ rgb_shift_i7 (.D(rgb_shift[6]), 
            .SP(n578), .CK(clk_derived_43), .SR(n494), .Q(rgb_shift[7]));
    defparam rgb_shift_i7.REGSET = "SET";
    defparam rgb_shift_i7.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=75, LSE_LCOL=13, LSE_RCOL=60, LSE_LLINE=13, LSE_RLINE=13, lineinfo="@1(49[12],65[5])" *) FD1P3XZ rgb_shift_i9 (.D(rgb_shift[8]), 
            .SP(n578), .CK(clk_derived_43), .SR(n494), .Q(rgb_shift[9]));
    defparam rgb_shift_i9.REGSET = "SET";
    defparam rgb_shift_i9.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=75, LSE_LCOL=13, LSE_RCOL=60, LSE_LLINE=13, LSE_RLINE=13, lineinfo="@1(49[12],65[5])" *) FD1P3XZ rgb_shift_i10 (.D(rgb_shift[9]), 
            .SP(n578), .CK(clk_derived_43), .SR(n494), .Q(rgb_shift[10]));
    defparam rgb_shift_i10.REGSET = "SET";
    defparam rgb_shift_i10.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=75, LSE_LCOL=13, LSE_RCOL=60, LSE_LLINE=13, LSE_RLINE=13, lineinfo="@1(49[12],65[5])" *) FD1P3XZ rgb_shift_i11 (.D(rgb_shift[10]), 
            .SP(n578), .CK(clk_derived_43), .SR(n494), .Q(rgb_shift[11]));
    defparam rgb_shift_i11.REGSET = "SET";
    defparam rgb_shift_i11.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A (B (C (D)))+!A (B ((D)+!C)+!B !(C))))", lineinfo="@1(68[3],91[10])" *) LUT4 mux_93_Mux_1_i3_4_lut (.A(n1_adj_204), 
            .B(counted_low), .C(\state[1] ), .D(\state[0] ), .Z(n3));
    defparam mux_93_Mux_1_i3_4_lut.INIT = "0x3afa";
    (* LSE_LINE_FILE_ID=75, LSE_LCOL=13, LSE_RCOL=60, LSE_LLINE=13, LSE_RLINE=13, lineinfo="@1(49[12],65[5])" *) FD1P3XZ rgb_shift_i14 (.D(rgb_shift[13]), 
            .SP(n578), .CK(clk_derived_43), .SR(n494), .Q(rgb_shift[14]));
    defparam rgb_shift_i14.REGSET = "SET";
    defparam rgb_shift_i14.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A (B (C)+!B !((D)+!C))+!A (B+!(C (D)))))", lineinfo="@1(68[3],91[10])" *) LUT4 mux_93_Mux_1_i7_4_lut (.A(n3), 
            .B(n841), .C(\state[2] ), .D(\state[1] ), .Z(n197[1]));
    defparam mux_93_Mux_1_i7_4_lut.INIT = "0x3a0a";
    (* LSE_LINE_FILE_ID=75, LSE_LCOL=13, LSE_RCOL=60, LSE_LLINE=13, LSE_RLINE=13, lineinfo="@1(49[12],65[5])" *) FD1P3XZ rgb_shift_i15 (.D(rgb_shift[14]), 
            .SP(n578), .CK(clk_derived_43), .SR(n494), .Q(rgb_shift[15]));
    defparam rgb_shift_i15.REGSET = "SET";
    defparam rgb_shift_i15.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A (B (C)+!B !((D)+!C))+!A (B+!(C (D)))))", lineinfo="@1(68[3],91[10])" *) LUT4 i397_4_lut (.A(n197[1]), 
            .B(n4), .C(\state[3] ), .D(rgb_shift[23]), .Z(nextstate[1]));
    defparam i397_4_lut.INIT = "0x3a0a";
    VLO i2 (.Z(GND_net));
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@1(49[12],65[5])" *) LUT4 i416_3_lut (.A(rgb_shift[0]), 
            .B(n494), .C(n578), .Z(n548));
    defparam i416_3_lut.INIT = "0xcaca";
    (* lut_function="((B+((D)+!C))+!A)" *) LUT4 i3_4_lut (.A(rgb_count[3]), 
            .B(rgb_count[2]), .C(rgb_count[4]), .D(rgb_count[5]), .Z(n8));
    defparam i3_4_lut.INIT = "0xffdf";
    (* lut_function="(A+(B+(C)))" *) LUT4 i4_3_lut (.A(rgb_count[0]), .B(n8), 
            .C(rgb_count[1]), .Z(n11));
    defparam i4_3_lut.INIT = "0xfefe";
    (* lut_function="(!((B+(C+!(D)))+!A))" *) LUT4 i3_4_lut_adj_4 (.A(n11), 
            .B(\state[2] ), .C(\state[1] ), .D(n1411), .Z(n2002));
    defparam i3_4_lut_adj_4.INIT = "0x0200";
    (* lut_function="(!(A+!(B+!(C))))", lineinfo="@1(36[12],47[5])" *) LUT4 i422_3_lut (.A(counter_reset_high_N_198), 
            .B(num_high[1]), .C(counter_reset_high_N_197), .Z(n554));
    defparam i422_3_lut.INIT = "0x4545";
    (* lut_function="(A ((C)+!B)+!A !(B))", lineinfo="@1(36[12],47[5])" *) LUT4 i1_3_lut (.A(num_low[4]), 
            .B(counter_reset_low_N_201), .C(counter_reset_low_N_200), .Z(n1395));
    defparam i1_3_lut.INIT = "0xb3b3";
    (* lut_function="(A (B+!(C)))", lineinfo="@1(36[12],47[5])" *) LUT4 i429_3_lut (.A(counter_reset_low_N_201), 
            .B(num_low[3]), .C(counter_reset_low_N_200), .Z(n561));
    defparam i429_3_lut.INIT = "0x8a8a";
    (* lut_function="(A ((C)+!B)+!A !(B))", lineinfo="@1(36[12],47[5])" *) LUT4 i1_3_lut_adj_5 (.A(num_low[2]), 
            .B(counter_reset_low_N_201), .C(counter_reset_low_N_200), .Z(n1401));
    defparam i1_3_lut_adj_5.INIT = "0xb3b3";
    (* lut_function="(A (B+!(C)))", lineinfo="@1(36[12],47[5])" *) LUT4 i432_3_lut (.A(counter_reset_low_N_201), 
            .B(num_low[1]), .C(counter_reset_low_N_200), .Z(n564));
    defparam i432_3_lut.INIT = "0x8a8a";
    (* lut_function="(!(A+!(B+!(C))))", lineinfo="@1(36[12],47[5])" *) LUT4 i418_3_lut (.A(counter_reset_high_N_198), 
            .B(num_high[4]), .C(counter_reset_high_N_197), .Z(n550));
    defparam i418_3_lut.INIT = "0x4545";
    (* lineinfo="@2(30[14],30[25])" *) INV i7_1_lut (.A(clk), .Z(clk_derived_43));
    (* LSE_LINE_FILE_ID=73, LSE_LCOL=10, LSE_RCOL=67, LSE_LLINE=21, LSE_RLINE=21, lineinfo="@1(21[10],21[67])" *) counter counter_low (clk, 
            n71, n1211, counted_low, num_low[1], num_low[4], num_low[2], 
            num_low[3], n47);
    (* LSE_LINE_FILE_ID=73, LSE_LCOL=10, LSE_RCOL=71, LSE_LLINE=20, LSE_RLINE=20, lineinfo="@1(20[10],20[71])" *) counter_U0 counter_high (clk, 
            n67, num_high[3], num_high[1], num_high[4], n47_adj_203, 
            n1209, counted_high);
    VHI i1 (.Z(VCC_net));
    (* LSE_LINE_FILE_ID=75, LSE_LCOL=13, LSE_RCOL=60, LSE_LLINE=13, LSE_RLINE=13, lineinfo="@1(36[12],47[5])" *) FD1P3XZ num_high_i3 (.D(counter_reset_high_N_198), 
            .SP(to_light_c), .CK(clk), .SR(GND_net), .Q(num_high[3]));
    defparam num_high_i3.REGSET = "RESET";
    defparam num_high_i3.SRMODE = "CE_OVER_LSR";
    
endmodule

//
// Verilog Description of module counter
//

module counter (input clk, input n71, input n1211, output counted_low, 
            input \num_low[1] , input \num_low[4] , input \num_low[2] , 
            input \num_low[3] , output n47);
    
    wire [23:0]count;
    (* is_clock=1, lineinfo="@3(3[8],3[11])" *) wire clk;
    wire [23:0]n101;
    
    wire n1092, n2226, GND_net, n1090, n2223, n1088, n2220, n1086, 
        n2217, n1084, n2214, n1082, n2211, n1080, n2208, n1078, 
        n2205, n1076, n2202, n1074, n2199, n1072, n2196, n1070, 
        n2193, n2163, VCC_net, n32, n31, n35, n2, n6, n34, 
        n38, n1329, n33;
    
    (* LSE_LINE_FILE_ID=73, LSE_LCOL=10, LSE_RCOL=67, LSE_LLINE=21, LSE_RLINE=21, lineinfo="@0(18[12],33[5])" *) FD1P3XZ counted (.D(n1211), 
            .SP(VCC_net), .CK(clk), .SR(GND_net), .Q(counted_low));
    defparam counted.REGSET = "RESET";
    defparam counted.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[14],29[26])" *) FD1P3XZ count_135__i1 (.D(n101[1]), 
            .SP(VCC_net), .CK(clk), .SR(n71), .Q(count[1]));
    defparam count_135__i1.REGSET = "RESET";
    defparam count_135__i1.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@0(29[14],29[26])" *) FA2 count_135_add_4_25 (.A0(GND_net), 
            .B0(GND_net), .C0(count[23]), .D0(n1092), .CI0(n1092), .A1(GND_net), 
            .B1(GND_net), .C1(GND_net), .D1(n2226), .CI1(n2226), .CO0(n2226), 
            .S0(n101[23]));
    defparam count_135_add_4_25.INIT0 = "0xc33c";
    defparam count_135_add_4_25.INIT1 = "0xc33c";
    (* lineinfo="@0(29[14],29[26])" *) FA2 count_135_add_4_23 (.A0(GND_net), 
            .B0(GND_net), .C0(count[21]), .D0(n1090), .CI0(n1090), .A1(GND_net), 
            .B1(GND_net), .C1(count[22]), .D1(n2223), .CI1(n2223), .CO0(n2223), 
            .CO1(n1092), .S0(n101[21]), .S1(n101[22]));
    defparam count_135_add_4_23.INIT0 = "0xc33c";
    defparam count_135_add_4_23.INIT1 = "0xc33c";
    (* lineinfo="@0(29[14],29[26])" *) FA2 count_135_add_4_21 (.A0(GND_net), 
            .B0(GND_net), .C0(count[19]), .D0(n1088), .CI0(n1088), .A1(GND_net), 
            .B1(GND_net), .C1(count[20]), .D1(n2220), .CI1(n2220), .CO0(n2220), 
            .CO1(n1090), .S0(n101[19]), .S1(n101[20]));
    defparam count_135_add_4_21.INIT0 = "0xc33c";
    defparam count_135_add_4_21.INIT1 = "0xc33c";
    (* lineinfo="@0(29[14],29[26])" *) FA2 count_135_add_4_19 (.A0(GND_net), 
            .B0(GND_net), .C0(count[17]), .D0(n1086), .CI0(n1086), .A1(GND_net), 
            .B1(GND_net), .C1(count[18]), .D1(n2217), .CI1(n2217), .CO0(n2217), 
            .CO1(n1088), .S0(n101[17]), .S1(n101[18]));
    defparam count_135_add_4_19.INIT0 = "0xc33c";
    defparam count_135_add_4_19.INIT1 = "0xc33c";
    (* lineinfo="@0(29[14],29[26])" *) FA2 count_135_add_4_17 (.A0(GND_net), 
            .B0(GND_net), .C0(count[15]), .D0(n1084), .CI0(n1084), .A1(GND_net), 
            .B1(GND_net), .C1(count[16]), .D1(n2214), .CI1(n2214), .CO0(n2214), 
            .CO1(n1086), .S0(n101[15]), .S1(n101[16]));
    defparam count_135_add_4_17.INIT0 = "0xc33c";
    defparam count_135_add_4_17.INIT1 = "0xc33c";
    (* lineinfo="@0(29[14],29[26])" *) FA2 count_135_add_4_15 (.A0(GND_net), 
            .B0(GND_net), .C0(count[13]), .D0(n1082), .CI0(n1082), .A1(GND_net), 
            .B1(GND_net), .C1(count[14]), .D1(n2211), .CI1(n2211), .CO0(n2211), 
            .CO1(n1084), .S0(n101[13]), .S1(n101[14]));
    defparam count_135_add_4_15.INIT0 = "0xc33c";
    defparam count_135_add_4_15.INIT1 = "0xc33c";
    (* lineinfo="@0(29[14],29[26])" *) FA2 count_135_add_4_13 (.A0(GND_net), 
            .B0(GND_net), .C0(count[11]), .D0(n1080), .CI0(n1080), .A1(GND_net), 
            .B1(GND_net), .C1(count[12]), .D1(n2208), .CI1(n2208), .CO0(n2208), 
            .CO1(n1082), .S0(n101[11]), .S1(n101[12]));
    defparam count_135_add_4_13.INIT0 = "0xc33c";
    defparam count_135_add_4_13.INIT1 = "0xc33c";
    (* lineinfo="@0(29[14],29[26])" *) FA2 count_135_add_4_11 (.A0(GND_net), 
            .B0(GND_net), .C0(count[9]), .D0(n1078), .CI0(n1078), .A1(GND_net), 
            .B1(GND_net), .C1(count[10]), .D1(n2205), .CI1(n2205), .CO0(n2205), 
            .CO1(n1080), .S0(n101[9]), .S1(n101[10]));
    defparam count_135_add_4_11.INIT0 = "0xc33c";
    defparam count_135_add_4_11.INIT1 = "0xc33c";
    (* lineinfo="@0(29[14],29[26])" *) FA2 count_135_add_4_9 (.A0(GND_net), 
            .B0(GND_net), .C0(count[7]), .D0(n1076), .CI0(n1076), .A1(GND_net), 
            .B1(GND_net), .C1(count[8]), .D1(n2202), .CI1(n2202), .CO0(n2202), 
            .CO1(n1078), .S0(n101[7]), .S1(n101[8]));
    defparam count_135_add_4_9.INIT0 = "0xc33c";
    defparam count_135_add_4_9.INIT1 = "0xc33c";
    (* lineinfo="@0(29[14],29[26])" *) FA2 count_135_add_4_7 (.A0(GND_net), 
            .B0(GND_net), .C0(count[5]), .D0(n1074), .CI0(n1074), .A1(GND_net), 
            .B1(GND_net), .C1(count[6]), .D1(n2199), .CI1(n2199), .CO0(n2199), 
            .CO1(n1076), .S0(n101[5]), .S1(n101[6]));
    defparam count_135_add_4_7.INIT0 = "0xc33c";
    defparam count_135_add_4_7.INIT1 = "0xc33c";
    (* lineinfo="@0(29[14],29[26])" *) FA2 count_135_add_4_5 (.A0(GND_net), 
            .B0(GND_net), .C0(count[3]), .D0(n1072), .CI0(n1072), .A1(GND_net), 
            .B1(GND_net), .C1(count[4]), .D1(n2196), .CI1(n2196), .CO0(n2196), 
            .CO1(n1074), .S0(n101[3]), .S1(n101[4]));
    defparam count_135_add_4_5.INIT0 = "0xc33c";
    defparam count_135_add_4_5.INIT1 = "0xc33c";
    (* lineinfo="@0(29[14],29[26])" *) FA2 count_135_add_4_3 (.A0(GND_net), 
            .B0(GND_net), .C0(count[1]), .D0(n1070), .CI0(n1070), .A1(GND_net), 
            .B1(GND_net), .C1(count[2]), .D1(n2193), .CI1(n2193), .CO0(n2193), 
            .CO1(n1072), .S0(n101[1]), .S1(n101[2]));
    defparam count_135_add_4_3.INIT0 = "0xc33c";
    defparam count_135_add_4_3.INIT1 = "0xc33c";
    (* lineinfo="@0(29[14],29[26])" *) FA2 count_135_add_4_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(VCC_net), 
            .C1(count[0]), .D1(n2163), .CI1(n2163), .CO0(n2163), .CO1(n1070), 
            .S1(n101[0]));
    defparam count_135_add_4_1.INIT0 = "0xc33c";
    defparam count_135_add_4_1.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@0(29[14],29[26])" *) FD1P3XZ count_135__i2 (.D(n101[2]), 
            .SP(VCC_net), .CK(clk), .SR(n71), .Q(count[2]));
    defparam count_135__i2.REGSET = "RESET";
    defparam count_135__i2.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[14],29[26])" *) FD1P3XZ count_135__i3 (.D(n101[3]), 
            .SP(VCC_net), .CK(clk), .SR(n71), .Q(count[3]));
    defparam count_135__i3.REGSET = "RESET";
    defparam count_135__i3.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[14],29[26])" *) FD1P3XZ count_135__i4 (.D(n101[4]), 
            .SP(VCC_net), .CK(clk), .SR(n71), .Q(count[4]));
    defparam count_135__i4.REGSET = "RESET";
    defparam count_135__i4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[14],29[26])" *) FD1P3XZ count_135__i5 (.D(n101[5]), 
            .SP(VCC_net), .CK(clk), .SR(n71), .Q(count[5]));
    defparam count_135__i5.REGSET = "RESET";
    defparam count_135__i5.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[14],29[26])" *) FD1P3XZ count_135__i6 (.D(n101[6]), 
            .SP(VCC_net), .CK(clk), .SR(n71), .Q(count[6]));
    defparam count_135__i6.REGSET = "RESET";
    defparam count_135__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[14],29[26])" *) FD1P3XZ count_135__i7 (.D(n101[7]), 
            .SP(VCC_net), .CK(clk), .SR(n71), .Q(count[7]));
    defparam count_135__i7.REGSET = "RESET";
    defparam count_135__i7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[14],29[26])" *) FD1P3XZ count_135__i8 (.D(n101[8]), 
            .SP(VCC_net), .CK(clk), .SR(n71), .Q(count[8]));
    defparam count_135__i8.REGSET = "RESET";
    defparam count_135__i8.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[14],29[26])" *) FD1P3XZ count_135__i9 (.D(n101[9]), 
            .SP(VCC_net), .CK(clk), .SR(n71), .Q(count[9]));
    defparam count_135__i9.REGSET = "RESET";
    defparam count_135__i9.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[14],29[26])" *) FD1P3XZ count_135__i10 (.D(n101[10]), 
            .SP(VCC_net), .CK(clk), .SR(n71), .Q(count[10]));
    defparam count_135__i10.REGSET = "RESET";
    defparam count_135__i10.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[14],29[26])" *) FD1P3XZ count_135__i11 (.D(n101[11]), 
            .SP(VCC_net), .CK(clk), .SR(n71), .Q(count[11]));
    defparam count_135__i11.REGSET = "RESET";
    defparam count_135__i11.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[14],29[26])" *) FD1P3XZ count_135__i12 (.D(n101[12]), 
            .SP(VCC_net), .CK(clk), .SR(n71), .Q(count[12]));
    defparam count_135__i12.REGSET = "RESET";
    defparam count_135__i12.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[14],29[26])" *) FD1P3XZ count_135__i13 (.D(n101[13]), 
            .SP(VCC_net), .CK(clk), .SR(n71), .Q(count[13]));
    defparam count_135__i13.REGSET = "RESET";
    defparam count_135__i13.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[14],29[26])" *) FD1P3XZ count_135__i14 (.D(n101[14]), 
            .SP(VCC_net), .CK(clk), .SR(n71), .Q(count[14]));
    defparam count_135__i14.REGSET = "RESET";
    defparam count_135__i14.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[14],29[26])" *) FD1P3XZ count_135__i15 (.D(n101[15]), 
            .SP(VCC_net), .CK(clk), .SR(n71), .Q(count[15]));
    defparam count_135__i15.REGSET = "RESET";
    defparam count_135__i15.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[14],29[26])" *) FD1P3XZ count_135__i16 (.D(n101[16]), 
            .SP(VCC_net), .CK(clk), .SR(n71), .Q(count[16]));
    defparam count_135__i16.REGSET = "RESET";
    defparam count_135__i16.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[14],29[26])" *) FD1P3XZ count_135__i17 (.D(n101[17]), 
            .SP(VCC_net), .CK(clk), .SR(n71), .Q(count[17]));
    defparam count_135__i17.REGSET = "RESET";
    defparam count_135__i17.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[14],29[26])" *) FD1P3XZ count_135__i18 (.D(n101[18]), 
            .SP(VCC_net), .CK(clk), .SR(n71), .Q(count[18]));
    defparam count_135__i18.REGSET = "RESET";
    defparam count_135__i18.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[14],29[26])" *) FD1P3XZ count_135__i19 (.D(n101[19]), 
            .SP(VCC_net), .CK(clk), .SR(n71), .Q(count[19]));
    defparam count_135__i19.REGSET = "RESET";
    defparam count_135__i19.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[14],29[26])" *) FD1P3XZ count_135__i20 (.D(n101[20]), 
            .SP(VCC_net), .CK(clk), .SR(n71), .Q(count[20]));
    defparam count_135__i20.REGSET = "RESET";
    defparam count_135__i20.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[14],29[26])" *) FD1P3XZ count_135__i21 (.D(n101[21]), 
            .SP(VCC_net), .CK(clk), .SR(n71), .Q(count[21]));
    defparam count_135__i21.REGSET = "RESET";
    defparam count_135__i21.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[14],29[26])" *) FD1P3XZ count_135__i22 (.D(n101[22]), 
            .SP(VCC_net), .CK(clk), .SR(n71), .Q(count[22]));
    defparam count_135__i22.REGSET = "RESET";
    defparam count_135__i22.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[14],29[26])" *) FD1P3XZ count_135__i23 (.D(n101[23]), 
            .SP(VCC_net), .CK(clk), .SR(n71), .Q(count[23]));
    defparam count_135__i23.REGSET = "RESET";
    defparam count_135__i23.SRMODE = "CE_OVER_LSR";
    VLO i1 (.Z(GND_net));
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@0(24[8],24[20])" *) LUT4 i12_4_lut (.A(count[15]), 
            .B(count[9]), .C(count[13]), .D(count[7]), .Z(n32));
    defparam i12_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@0(24[8],24[20])" *) LUT4 i11_4_lut (.A(count[0]), 
            .B(count[6]), .C(count[12]), .D(count[18]), .Z(n31));
    defparam i11_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@0(24[8],24[20])" *) LUT4 i15_4_lut (.A(count[20]), 
            .B(count[11]), .C(count[17]), .D(count[23]), .Z(n35));
    defparam i15_4_lut.INIT = "0xfffe";
    (* lut_function="(!(A (B)+!A !(B)))", lineinfo="@0(24[8],24[20])" *) LUT4 equal_5_i2_2_lut (.A(count[1]), 
            .B(\num_low[1] ), .Z(n2));
    defparam equal_5_i2_2_lut.INIT = "0x6666";
    (* lut_function="(!(A (B (C (D))+!B !((D)+!C))+!A !(B (C+!(D))+!B (C+(D)))))", lineinfo="@0(24[8],24[20])" *) LUT4 i2_4_lut (.A(count[4]), 
            .B(count[2]), .C(\num_low[4] ), .D(\num_low[2] ), .Z(n6));
    defparam i2_4_lut.INIT = "0x7bde";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@0(24[8],24[20])" *) LUT4 i14_4_lut (.A(count[10]), 
            .B(count[5]), .C(count[8]), .D(count[22]), .Z(n34));
    defparam i14_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C)))", lineinfo="@0(24[8],24[20])" *) LUT4 i18_3_lut (.A(n35), 
            .B(n31), .C(n32), .Z(n38));
    defparam i18_3_lut.INIT = "0xfefe";
    (* lut_function="(A (B+(C+!(D)))+!A (B+(C+(D))))", lineinfo="@0(24[8],24[20])" *) LUT4 i3_4_lut (.A(count[3]), 
            .B(n6), .C(n2), .D(\num_low[3] ), .Z(n1329));
    defparam i3_4_lut.INIT = "0xfdfe";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@0(24[8],24[20])" *) LUT4 i13_4_lut (.A(count[21]), 
            .B(count[16]), .C(count[19]), .D(count[14]), .Z(n33));
    defparam i13_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@0(24[8],24[20])" *) LUT4 i1_4_lut (.A(n33), 
            .B(n1329), .C(n38), .D(n34), .Z(n47));
    defparam i1_4_lut.INIT = "0xfffe";
    VHI i2 (.Z(VCC_net));
    (* syn_use_carry_chain=1, lineinfo="@0(29[14],29[26])" *) FD1P3XZ count_135__i0 (.D(n101[0]), 
            .SP(VCC_net), .CK(clk), .SR(n71), .Q(count[0]));
    defparam count_135__i0.REGSET = "RESET";
    defparam count_135__i0.SRMODE = "CE_OVER_LSR";
    
endmodule

//
// Verilog Description of module counter_U0
//

module counter_U0 (input clk, input n67, input \num_high[3] , input \num_high[1] , 
            input \num_high[4] , output n47, input n1209, output counted_high);
    
    wire [23:0]count;
    (* is_clock=1, lineinfo="@3(3[8],3[11])" *) wire clk;
    wire [23:0]n101;
    
    wire n24, n34, n32, n38, n4, n36, n40, n1332, n35, n1067, 
        n2169, GND_net, n1065, n2154, n1063, n2151, n1061, n2148, 
        n1059, n2145, n1057, n2142, n1055, n2139, n1053, n2136, 
        n1051, n2133, n1049, n2130, n1047, n2127, n1045, n2124, 
        n2121, VCC_net;
    
    (* syn_use_carry_chain=1, lineinfo="@0(29[14],29[26])" *) FD1P3XZ count_134__i21 (.D(n101[21]), 
            .SP(VCC_net), .CK(clk), .SR(n67), .Q(count[21]));
    defparam count_134__i21.REGSET = "RESET";
    defparam count_134__i21.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[14],29[26])" *) FD1P3XZ count_134__i20 (.D(n101[20]), 
            .SP(VCC_net), .CK(clk), .SR(n67), .Q(count[20]));
    defparam count_134__i20.REGSET = "RESET";
    defparam count_134__i20.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[14],29[26])" *) FD1P3XZ count_134__i19 (.D(n101[19]), 
            .SP(VCC_net), .CK(clk), .SR(n67), .Q(count[19]));
    defparam count_134__i19.REGSET = "RESET";
    defparam count_134__i19.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[14],29[26])" *) FD1P3XZ count_134__i18 (.D(n101[18]), 
            .SP(VCC_net), .CK(clk), .SR(n67), .Q(count[18]));
    defparam count_134__i18.REGSET = "RESET";
    defparam count_134__i18.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[14],29[26])" *) FD1P3XZ count_134__i17 (.D(n101[17]), 
            .SP(VCC_net), .CK(clk), .SR(n67), .Q(count[17]));
    defparam count_134__i17.REGSET = "RESET";
    defparam count_134__i17.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[14],29[26])" *) FD1P3XZ count_134__i16 (.D(n101[16]), 
            .SP(VCC_net), .CK(clk), .SR(n67), .Q(count[16]));
    defparam count_134__i16.REGSET = "RESET";
    defparam count_134__i16.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[14],29[26])" *) FD1P3XZ count_134__i0 (.D(n101[0]), 
            .SP(VCC_net), .CK(clk), .SR(n67), .Q(count[0]));
    defparam count_134__i0.REGSET = "RESET";
    defparam count_134__i0.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[14],29[26])" *) FD1P3XZ count_134__i15 (.D(n101[15]), 
            .SP(VCC_net), .CK(clk), .SR(n67), .Q(count[15]));
    defparam count_134__i15.REGSET = "RESET";
    defparam count_134__i15.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[14],29[26])" *) FD1P3XZ count_134__i14 (.D(n101[14]), 
            .SP(VCC_net), .CK(clk), .SR(n67), .Q(count[14]));
    defparam count_134__i14.REGSET = "RESET";
    defparam count_134__i14.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[14],29[26])" *) FD1P3XZ count_134__i13 (.D(n101[13]), 
            .SP(VCC_net), .CK(clk), .SR(n67), .Q(count[13]));
    defparam count_134__i13.REGSET = "RESET";
    defparam count_134__i13.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[14],29[26])" *) FD1P3XZ count_134__i12 (.D(n101[12]), 
            .SP(VCC_net), .CK(clk), .SR(n67), .Q(count[12]));
    defparam count_134__i12.REGSET = "RESET";
    defparam count_134__i12.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[14],29[26])" *) FD1P3XZ count_134__i11 (.D(n101[11]), 
            .SP(VCC_net), .CK(clk), .SR(n67), .Q(count[11]));
    defparam count_134__i11.REGSET = "RESET";
    defparam count_134__i11.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[14],29[26])" *) FD1P3XZ count_134__i10 (.D(n101[10]), 
            .SP(VCC_net), .CK(clk), .SR(n67), .Q(count[10]));
    defparam count_134__i10.REGSET = "RESET";
    defparam count_134__i10.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[14],29[26])" *) FD1P3XZ count_134__i9 (.D(n101[9]), 
            .SP(VCC_net), .CK(clk), .SR(n67), .Q(count[9]));
    defparam count_134__i9.REGSET = "RESET";
    defparam count_134__i9.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[14],29[26])" *) FD1P3XZ count_134__i8 (.D(n101[8]), 
            .SP(VCC_net), .CK(clk), .SR(n67), .Q(count[8]));
    defparam count_134__i8.REGSET = "RESET";
    defparam count_134__i8.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[14],29[26])" *) FD1P3XZ count_134__i7 (.D(n101[7]), 
            .SP(VCC_net), .CK(clk), .SR(n67), .Q(count[7]));
    defparam count_134__i7.REGSET = "RESET";
    defparam count_134__i7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[14],29[26])" *) FD1P3XZ count_134__i6 (.D(n101[6]), 
            .SP(VCC_net), .CK(clk), .SR(n67), .Q(count[6]));
    defparam count_134__i6.REGSET = "RESET";
    defparam count_134__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[14],29[26])" *) FD1P3XZ count_134__i5 (.D(n101[5]), 
            .SP(VCC_net), .CK(clk), .SR(n67), .Q(count[5]));
    defparam count_134__i5.REGSET = "RESET";
    defparam count_134__i5.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[14],29[26])" *) FD1P3XZ count_134__i4 (.D(n101[4]), 
            .SP(VCC_net), .CK(clk), .SR(n67), .Q(count[4]));
    defparam count_134__i4.REGSET = "RESET";
    defparam count_134__i4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[14],29[26])" *) FD1P3XZ count_134__i3 (.D(n101[3]), 
            .SP(VCC_net), .CK(clk), .SR(n67), .Q(count[3]));
    defparam count_134__i3.REGSET = "RESET";
    defparam count_134__i3.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[14],29[26])" *) FD1P3XZ count_134__i2 (.D(n101[2]), 
            .SP(VCC_net), .CK(clk), .SR(n67), .Q(count[2]));
    defparam count_134__i2.REGSET = "RESET";
    defparam count_134__i2.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[14],29[26])" *) FD1P3XZ count_134__i1 (.D(n101[1]), 
            .SP(VCC_net), .CK(clk), .SR(n67), .Q(count[1]));
    defparam count_134__i1.REGSET = "RESET";
    defparam count_134__i1.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=73, LSE_LCOL=10, LSE_RCOL=71, LSE_LLINE=20, LSE_RLINE=20, lineinfo="@0(18[12],33[5])" *) FD1P3XZ counted (.D(n1209), 
            .SP(VCC_net), .CK(clk), .SR(GND_net), .Q(counted_high));
    defparam counted.REGSET = "RESET";
    defparam counted.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A+(B))", lineinfo="@0(24[8],24[20])" *) LUT4 i3_2_lut (.A(count[15]), 
            .B(count[13]), .Z(n24));
    defparam i3_2_lut.INIT = "0xeeee";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@0(24[8],24[20])" *) LUT4 i13_4_lut (.A(count[9]), 
            .B(count[2]), .C(count[7]), .D(count[21]), .Z(n34));
    defparam i13_4_lut.INIT = "0xfffe";
    (* lut_function="(A+((C)+!B))", lineinfo="@0(24[8],24[20])" *) LUT4 i11_3_lut (.A(count[23]), 
            .B(count[0]), .C(count[12]), .Z(n32));
    defparam i11_3_lut.INIT = "0xfbfb";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@0(24[8],24[20])" *) LUT4 i17_4_lut (.A(count[6]), 
            .B(n34), .C(n24), .D(count[18]), .Z(n38));
    defparam i17_4_lut.INIT = "0xfffe";
    (* lut_function="(!(A (B (C (D))+!B !((D)+!C))+!A !(B (C+!(D))+!B (C+(D)))))", lineinfo="@0(24[8],24[20])" *) LUT4 i1_4_lut (.A(count[3]), 
            .B(count[1]), .C(\num_high[3] ), .D(\num_high[1] ), .Z(n4));
    defparam i1_4_lut.INIT = "0x7bde";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@0(24[8],24[20])" *) LUT4 i15_4_lut (.A(count[8]), 
            .B(count[22]), .C(count[5]), .D(count[20]), .Z(n36));
    defparam i15_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@0(24[8],24[20])" *) LUT4 i19_4_lut (.A(count[17]), 
            .B(n38), .C(n32), .D(count[11]), .Z(n40));
    defparam i19_4_lut.INIT = "0xfffe";
    (* lut_function="(A (B+!(C))+!A (B+(C)))", lineinfo="@0(24[8],24[20])" *) LUT4 i2_3_lut (.A(count[4]), 
            .B(n4), .C(\num_high[4] ), .Z(n1332));
    defparam i2_3_lut.INIT = "0xdede";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@0(24[8],24[20])" *) LUT4 i14_4_lut (.A(count[19]), 
            .B(count[14]), .C(count[16]), .D(count[10]), .Z(n35));
    defparam i14_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@0(24[8],24[20])" *) LUT4 i1_4_lut_adj_3 (.A(n35), 
            .B(n1332), .C(n40), .D(n36), .Z(n47));
    defparam i1_4_lut_adj_3.INIT = "0xfffe";
    (* syn_use_carry_chain=1, lineinfo="@0(29[14],29[26])" *) FD1P3XZ count_134__i23 (.D(n101[23]), 
            .SP(VCC_net), .CK(clk), .SR(n67), .Q(count[23]));
    defparam count_134__i23.REGSET = "RESET";
    defparam count_134__i23.SRMODE = "CE_OVER_LSR";
    VLO i1 (.Z(GND_net));
    (* lineinfo="@0(29[14],29[26])" *) FA2 count_134_add_4_25 (.A0(GND_net), 
            .B0(GND_net), .C0(count[23]), .D0(n1067), .CI0(n1067), .A1(GND_net), 
            .B1(GND_net), .C1(GND_net), .D1(n2169), .CI1(n2169), .CO0(n2169), 
            .S0(n101[23]));
    defparam count_134_add_4_25.INIT0 = "0xc33c";
    defparam count_134_add_4_25.INIT1 = "0xc33c";
    (* lineinfo="@0(29[14],29[26])" *) FA2 count_134_add_4_23 (.A0(GND_net), 
            .B0(GND_net), .C0(count[21]), .D0(n1065), .CI0(n1065), .A1(GND_net), 
            .B1(GND_net), .C1(count[22]), .D1(n2154), .CI1(n2154), .CO0(n2154), 
            .CO1(n1067), .S0(n101[21]), .S1(n101[22]));
    defparam count_134_add_4_23.INIT0 = "0xc33c";
    defparam count_134_add_4_23.INIT1 = "0xc33c";
    (* lineinfo="@0(29[14],29[26])" *) FA2 count_134_add_4_21 (.A0(GND_net), 
            .B0(GND_net), .C0(count[19]), .D0(n1063), .CI0(n1063), .A1(GND_net), 
            .B1(GND_net), .C1(count[20]), .D1(n2151), .CI1(n2151), .CO0(n2151), 
            .CO1(n1065), .S0(n101[19]), .S1(n101[20]));
    defparam count_134_add_4_21.INIT0 = "0xc33c";
    defparam count_134_add_4_21.INIT1 = "0xc33c";
    (* lineinfo="@0(29[14],29[26])" *) FA2 count_134_add_4_19 (.A0(GND_net), 
            .B0(GND_net), .C0(count[17]), .D0(n1061), .CI0(n1061), .A1(GND_net), 
            .B1(GND_net), .C1(count[18]), .D1(n2148), .CI1(n2148), .CO0(n2148), 
            .CO1(n1063), .S0(n101[17]), .S1(n101[18]));
    defparam count_134_add_4_19.INIT0 = "0xc33c";
    defparam count_134_add_4_19.INIT1 = "0xc33c";
    (* lineinfo="@0(29[14],29[26])" *) FA2 count_134_add_4_17 (.A0(GND_net), 
            .B0(GND_net), .C0(count[15]), .D0(n1059), .CI0(n1059), .A1(GND_net), 
            .B1(GND_net), .C1(count[16]), .D1(n2145), .CI1(n2145), .CO0(n2145), 
            .CO1(n1061), .S0(n101[15]), .S1(n101[16]));
    defparam count_134_add_4_17.INIT0 = "0xc33c";
    defparam count_134_add_4_17.INIT1 = "0xc33c";
    (* lineinfo="@0(29[14],29[26])" *) FA2 count_134_add_4_15 (.A0(GND_net), 
            .B0(GND_net), .C0(count[13]), .D0(n1057), .CI0(n1057), .A1(GND_net), 
            .B1(GND_net), .C1(count[14]), .D1(n2142), .CI1(n2142), .CO0(n2142), 
            .CO1(n1059), .S0(n101[13]), .S1(n101[14]));
    defparam count_134_add_4_15.INIT0 = "0xc33c";
    defparam count_134_add_4_15.INIT1 = "0xc33c";
    (* lineinfo="@0(29[14],29[26])" *) FA2 count_134_add_4_13 (.A0(GND_net), 
            .B0(GND_net), .C0(count[11]), .D0(n1055), .CI0(n1055), .A1(GND_net), 
            .B1(GND_net), .C1(count[12]), .D1(n2139), .CI1(n2139), .CO0(n2139), 
            .CO1(n1057), .S0(n101[11]), .S1(n101[12]));
    defparam count_134_add_4_13.INIT0 = "0xc33c";
    defparam count_134_add_4_13.INIT1 = "0xc33c";
    (* lineinfo="@0(29[14],29[26])" *) FA2 count_134_add_4_11 (.A0(GND_net), 
            .B0(GND_net), .C0(count[9]), .D0(n1053), .CI0(n1053), .A1(GND_net), 
            .B1(GND_net), .C1(count[10]), .D1(n2136), .CI1(n2136), .CO0(n2136), 
            .CO1(n1055), .S0(n101[9]), .S1(n101[10]));
    defparam count_134_add_4_11.INIT0 = "0xc33c";
    defparam count_134_add_4_11.INIT1 = "0xc33c";
    (* lineinfo="@0(29[14],29[26])" *) FA2 count_134_add_4_9 (.A0(GND_net), 
            .B0(GND_net), .C0(count[7]), .D0(n1051), .CI0(n1051), .A1(GND_net), 
            .B1(GND_net), .C1(count[8]), .D1(n2133), .CI1(n2133), .CO0(n2133), 
            .CO1(n1053), .S0(n101[7]), .S1(n101[8]));
    defparam count_134_add_4_9.INIT0 = "0xc33c";
    defparam count_134_add_4_9.INIT1 = "0xc33c";
    (* lineinfo="@0(29[14],29[26])" *) FA2 count_134_add_4_7 (.A0(GND_net), 
            .B0(GND_net), .C0(count[5]), .D0(n1049), .CI0(n1049), .A1(GND_net), 
            .B1(GND_net), .C1(count[6]), .D1(n2130), .CI1(n2130), .CO0(n2130), 
            .CO1(n1051), .S0(n101[5]), .S1(n101[6]));
    defparam count_134_add_4_7.INIT0 = "0xc33c";
    defparam count_134_add_4_7.INIT1 = "0xc33c";
    (* lineinfo="@0(29[14],29[26])" *) FA2 count_134_add_4_5 (.A0(GND_net), 
            .B0(GND_net), .C0(count[3]), .D0(n1047), .CI0(n1047), .A1(GND_net), 
            .B1(GND_net), .C1(count[4]), .D1(n2127), .CI1(n2127), .CO0(n2127), 
            .CO1(n1049), .S0(n101[3]), .S1(n101[4]));
    defparam count_134_add_4_5.INIT0 = "0xc33c";
    defparam count_134_add_4_5.INIT1 = "0xc33c";
    (* lineinfo="@0(29[14],29[26])" *) FA2 count_134_add_4_3 (.A0(GND_net), 
            .B0(GND_net), .C0(count[1]), .D0(n1045), .CI0(n1045), .A1(GND_net), 
            .B1(GND_net), .C1(count[2]), .D1(n2124), .CI1(n2124), .CO0(n2124), 
            .CO1(n1047), .S0(n101[1]), .S1(n101[2]));
    defparam count_134_add_4_3.INIT0 = "0xc33c";
    defparam count_134_add_4_3.INIT1 = "0xc33c";
    (* lineinfo="@0(29[14],29[26])" *) FA2 count_134_add_4_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(VCC_net), 
            .C1(count[0]), .D1(n2121), .CI1(n2121), .CO0(n2121), .CO1(n1045), 
            .S1(n101[0]));
    defparam count_134_add_4_1.INIT0 = "0xc33c";
    defparam count_134_add_4_1.INIT1 = "0xc33c";
    VHI i2 (.Z(VCC_net));
    (* syn_use_carry_chain=1, lineinfo="@0(29[14],29[26])" *) FD1P3XZ count_134__i22 (.D(n101[22]), 
            .SP(VCC_net), .CK(clk), .SR(n67), .Q(count[22]));
    defparam count_134__i22.REGSET = "RESET";
    defparam count_134__i22.SRMODE = "CE_OVER_LSR";
    
endmodule
